@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
:root {
  --main: #161616;
}
body {
  background-color: var(--main);
  font-family: "Dosis", sans-serif !important;
}
input,
button,
a,
::placeholder {
  font-family: "Dosis", sans-serif;
}
.container {
  padding: 40px;
}
.search-bar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-bar input {
  color: var(--main);
  width: 80%;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
}
.search-bar input:focus {
  border: none;
  outline: none;
}
.gallery-types {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.gallery-types ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 500;
  color: white;
}
.gallery-types ul > li {
  cursor: pointer;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 1px;
}
.gallery-types ul .active {
  background-color: white;
  color: var(--main);
}
.gallery {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 310px;
  gap: 10px;
  padding: 0;
  margin: 0;
}
.gallery > img {
  border-radius: 2px;
  width: 100%;
  height: 100%;
}
.gallery .large-img {
  grid-column: span 2;
  grid-row: span 2;
}
.gallery .medium-1-img {
  grid-column: span 2;
}
.gallery .medium-2-img {
  grid-row: span 2;
}

@media (max-width: 900px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .gallery-types ul {
    flex-flow: row wrap;
  }
}

@media (max-width: 555px) {
  .gallery {
    grid-template-columns: 1fr;
  }
  .container {
    padding: 20px;
  }
}

@media (max-width: 400px) {
  .container {
    padding: 10px;
  }
}

.hide {
  display: none;
}
